.clients{
    padding-bottom: 100px;
    .sectionHeader{
        display: flex;
        justify-content: space-between;
        h4{
            font-size: 28px;
            color: $black;
            font-weight: 600;
            padding-bottom: 20px;
        }
        .sectionItem{
             ul{
                 li{
                     display: inline-block;
                     font-size: 20px;
                     padding-left: 20px;
                     color: $black;
                     &:hover{
                         color: $primaryColor;
                     }
                 }
             }
        }
    }
    .clients_wrapper{
        padding-top: 20px;
        .clients_wrap{
             display: flex;
             align-items: center;
             border-bottom: 1px solid $border;
             padding: 15px 0;
             margin-top: 10px;
             .clients_img{
                 img{
                     width: 160px;
                     border-radius: 50%;
                 }
             }
             .clients_text{
                 padding-left: 15px;
                h4{
                    font-size: 22px;
                    color: $black;
                    font-weight: 600;
                    line-height: 30px;
                }
                h5{
                    font-size: 17px;
                    color: $primaryColor;
                    font-weight: 500;
                    line-height: 27px;

                }
                p{
                    font-size: 15px;
                    color: $text;
                    font-weight: 400;
                    line-height: 25px;
                }
             }
        }
        .border_n{
            border-bottom: 1px solid transparent; 
        }
    }
}